$primary: #E86415;
$secondary: #94AFB9; // alt: #C54B45
$dark: #272633;
$light: #FAF9FA;
$info: #272633;
$success: #799841;
$warning: #f78809;
$danger: #f44336;

.background-dark {
  background-color: darken($dark, 10%);
  color: $light
}

.background-light {
  background-color: lighten($light,10%);
  color: $dark
}

@import "~bootstrap/scss/bootstrap";